@page "/3-fixed"
@using BlazoredFluentValidation.ProposedChanges.Blazored.FluentValidation

<PageTitle>Demo Form 3 - Fixed</PageTitle>

<h1>Demo Form 3 - Fixed</h1>

<p>This is the same as the third form, except with a modified version of Blazored.FluentValidation.</p>

<EditForm Model="@Customer" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
    <FluentValidationValidator Options="@(strategy => strategy.IncludeRuleSets("*"))" />
    <ValidationSummary />

    <DemoForm IsValid="IsValid" Customer="Customer" />
</EditForm>