@page "/2-fixed"
@using BlazoredFluentValidation.ProposedChanges.Blazored.FluentValidation

<PageTitle>Demo Form 2 - Fixed</PageTitle>

<h1>Demo Form 2 - Fixed</h1>

<p>This is the same as the second form, except with a modified version of Blazored.FluentValidation.</p>

<p>
    Entering 10 Downing Street as Address Line 1 results in a validation error on blur,
    nor does entering a single character into the postcode field, consistent with form submission.
</p>

<EditForm Model="@Customer" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
    <FluentValidationValidator Options="@(strategy => strategy.IncludeRuleSets("*"))" />
    <ValidationSummary/>

    <DemoForm IsValid="IsValid" Customer="Customer" />
</EditForm>