<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazoredFluentValidation</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Demo Form 1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/2" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Demo Form 2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/3" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Demo Form 3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/1-fixed" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Demo Form 1 Fixed
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/2-fixed" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Demo Form 2 Fixed
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/3-fixed" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Demo Form 3 Fixed
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
